@keyframes entradaT {
    0% {margin-left: -100vh;}
    100% {margin-left: 67px;}
}

@keyframes animacaoImg {
    10% {background-image: url(img/gojo.jpg);}
    20% {background-image: url(img/gojo.jpg);}
    21% {background-image: url(img/geto.jpg);}
    59% {background-image: url(img/geto.jpg);}
    60% {background-image: url(img/kashimo.jpg);}
    79% {background-image: url(img/kashimo.jpg);}
    80% {background-image: url(img/subuxa.jpg);}
    95% {background-image: url(img/subuxa.jpg);}
    100% {background-image: url(img/gojo.jpg);}
}

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
}

.TagsA {
    color:#262650;
    font-family: 'Phudu', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*TOPO DA PÁGINA*/
header {
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: url(img/gojo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    box-shadow: inset 0px -40px 40px #e7e7e7;
    animation: animacaoImg 60s infinite;
    transition: backgroun-img 0.2s;
}

#Navbar {
    display: flex;
}

#Navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 20px;
    margin-left: 2rem;
    font-family: 'Phudu', cursive;
    padding-left: 2rem;
}

#HomeBTN {
    color: #262650;
    border: solid 1px;
    box-shadow: 1px 1px 1px #262650;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: rgb(202, 202, 202);
}

.Infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    margin-left: 5%;
    gap: 1rem;
    padding-left: 2rem;
    animation-name: entradaT;
    animation-duration: 2s;
    animation-iteration-count: initial;
}

.Infos ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#Nome {
    font-family: 'Phudu', cursive;
    font-size: 50px;
    color: rgb(255, 0, 0);
}
#cargo {
    font-family: 'Phudu', cursive;
    color: #262650;
}



/*AREA SOBRE MIM*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}
#AreaSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#AreaSobre h1 {
    font-family: 'Phudu', cursive;
    font-size: 70px;
    margin-top: 3rem;
    color: #262650;
    border-bottom: 2px solid #262650;
}

#AreaSobre h2 {
    font-family: 'Phudu', cursive;
    color: #262650;
}

#AreaSobre p {
    font-family: 'Open Sans', sans-serif;
    color: #262650;
}
#InfoSobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

#InfoSobre li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#fotoPerfil {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 6rem;
    flex-wrap: wrap;
    padding-left: 5rem;
}

#textSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 3rem;
}

.proxBTN {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: red;
    box-shadow: -2px 2px 3px 0px;
    margin-top: 3rem;
    cursor: pointer;
}

/*Area Skills*/

#SkillsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#SkillsArea h1 {
    font-family: 'Phudu', cursive;
    font-size: 60px;
    margin-top: 3rem;
    color: #262650;
    margin-top: 7rem;
}

#SkillsArea ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}
.card h2 {
    font-family: 'Phudu', cursive;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.over-lay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262650;
    border-radius: 25px 25px 0 25px;
}
.over-lay::before,
.over-lay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #262650;
}

.over-lay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid red
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #262650;
}

.descricao {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #262650;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 3rem;
    top: 180px;
    left: 30rem;
    right: 30rem;
    bottom: 110px;
    background-color: #e7e7e7;
    border-radius: 25px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.329);
  }

  #listaModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 2.5rem;
    width: 17rem;
  }

  #staksTitle {
    font-family: 'Phudu', cursive;
    font-size: 60px;
    color: #262650;
  }

/*Area Projetos*/

:root{
    --gradient: linear-gradient(to right, red, blue);
}

#areaProjetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 10px;
    margin: 10px;
}

#areaProjetos h1 {
    font-family: 'Phudu', cursive;
    font-size: 60px;
    margin-top: 3rem;
    color: #262650;
}

#areaProjetos h2 {
    font-family: 'Open Sans', sans-serif;
}

#areaProjetos p {
    font-family: 'Open Sans', sans-serif;
    color: #262650;
}

.Ptec {
    color: red;
}

#listaProjetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7rem;
}

.Projetos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    gap: 2.5rem;
    margin: 15px;
    padding: 15px;
}

.imgProjetos {
    border-left: 7px outset red;
}

#imgSort{
    height: 139px;
}

.BTNprojetos {
    --border-width:1px;
    --border-radius: 5px;
    background: var(--gradient);
    border: 0;
    padding: 0.7rem 2rem;
    position: relative;
    border-radius: var(--border-radius);
    z-index: 1;
}

.BTNprojetos::before{
    content: '';
    display: block;

    width: calc(100% - calc(var(--border-width)*2));
    height: calc(100% - calc(var(--border-width)*2));

    background: #e7e7e7;
    position: absolute;

    top: var(--border-width);
    left: var(--border-width);

    border-radius: calc(var(--border-radius) - var(--border-width));
    z-index: -1;
}

/*footer*/
