@keyframes entradaT {
    0% {margin-left: -100vh;}
    100% {margin-left: 67px;}
}

@keyframes animacaoImg {
    10% {background-image: url(img/gojo.jpg);}
    24% {background-image: url(img/gojo.jpg);}
    25% {background-image: url(img/geto.jpg);}
    59% {background-image: url(img/geto.jpg);}
    60% {background-image: url(img/kashimo.jpg);}
    79% {background-image: url(img/kashimo.jpg);}
    80% {background-image: url(img/subuxa.jpg);}
    95% {background-image: url(img/subuxa.jpg);}
    100% {background-image: url(img/gojo.jpg);}
}

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
}

.TagsA {
    color:#262650;
    font-family: 'Phudu', cursive;
}

/*TOPO DA PÁGINA*/
header {
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: url(img/gojo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    box-shadow: inset 0px -40px 40px #e7e7e7;
    animation: animacaoImg 60s infinite;
    transition: backgroun-img 0.2s;
}

#Navbar {
    display: flex;
}

#Navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 20px;
    margin-left: 2rem;
    font-family: 'Phudu', cursive;
}

#HomeBTN {
    color: #262650;
    border: solid 1px;
    box-shadow: 1px 1px 1px #262650;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: rgb(202, 202, 202);
}

.Infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    margin-left: 5%;
    gap: 1rem;
    animation-name: entradaT;
    animation-duration: 2s;
    animation-iteration-count: initial;
}

.Infos ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#Nome {
    font-family: 'Phudu', cursive;
    font-size: 55px;
    color: rgb(255, 0, 0);
}
#cargo {
    font-family: 'Phudu', cursive;
    color: #262650;
}



/*AREA SOBRE MIM*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}
#AreaSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#AreaSobre h1 {
    font-family: 'Phudu', cursive;
    font-size: 70px;
    margin-top: 3rem;
    color: #262650;
    border-bottom: 2px solid #262650;
}

#AreaSobre h2 {
    font-family: 'Phudu', cursive;
    color: #262650;
}

#AreaSobre p {
    font-family: 'Open Sans', sans-serif;
    color: #262650;
}
#InfoSobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

#InfoSobre li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#fotoPerfil {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 6rem;
    flex-wrap: wrap;
}

#textSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 3rem;
}

.proxBTN {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: red;
    box-shadow: -2px 2px 3px 0px;
    margin-top: 3rem;
    cursor: pointer;
}

/*Area Skills*/

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    width: 100%;
    margin-top: 2rem;
    gap: 3rem;
}

#skills h1 {
    font-family: 'Phudu', cursive;
    font-size: 60px;
    margin-top: 3rem;
    color: #262650;
}

#skillsList {
    display: grid;
    width: 80%;
    gap: 40rem;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    padding: 0 var(--spacer) var(--spacer);
    scroll-snap-type: inline mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.skillCard {
    display: flex;
    flex-direction: row;
    padding: var(--size-3);
    flex: 0 0 100%;
	scroll-snap-align: start;
	scroll-snap-stop: always;
    border: 1px solid;
    border-radius: 20px;
    width: 350px;
    height: 500px;
}

.skillCard img {
    margin-top: 20px;
    padding: 0.5rem;
    height: 60px;
}

.skillCard h2 {
    color: #262650;
}

.skillCard p {
    display: flex;
    flex-direction: column;
    color: #262650;
}

.skillCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#BTNskill {
    margin-bottom: 2rem;
}

/*Area Projetos*/

:root{
    --gradient: linear-gradient(to right, red, blue);
}

#areaProjetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 10px;
    margin: 10px;
}

#areaProjetos h1 {
    font-family: 'Phudu', cursive;
    font-size: 60px;
    margin-top: 3rem;
    color: #262650;
}

#areaProjetos h2 {
    font-family: 'Open Sans', sans-serif;
}

#areaProjetos p {
    font-family: 'Open Sans', sans-serif;
    color: #262650;
}

.Ptec {
    color: red;
}

#listaProjetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7rem;
}

.Projetos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    gap: 2.5rem;
}

.imgProjetos {
    border-left: 7px outset red;
}

#imgSort{
    height: 139px;
}

.BTNprojetos {
    --border-width:1px;
    --border-radius: 5px;
    background: var(--gradient);
    border: 0;
    padding: 0.7rem 2rem;
    position: relative;
    border-radius: var(--border-radius);
    z-index: 1;
    cursor: pointer;
}

.BTNprojetos::before{
    content: '';
    display: block;

    width: calc(100% - calc(var(--border-width)*2));
    height: calc(100% - calc(var(--border-width)*2));

    background: #e7e7e7;
    position: absolute;

    top: var(--border-width);
    left: var(--border-width);

    border-radius: calc(var(--border-radius) - var(--border-width));
    z-index: -1;
}

/*footer*/
